<!-- /views/admin/applications/show.html.erb -->

<h1>Admin Application Show</h1>

<% @application.pets.each do |pet| %>
  <p><%= pet.name %>
  <% if pet.pending?(@application.id) %>
    <%= button_to "Approve #{pet.name}", "/application_pets/#{@application.id}?pet_id=#{pet.id}", method: :patch %></p>
  <% else %>
    <%= "Approved!" %>
  <% end %>
<% end %>